scms/src/main/resources/wsdl/IdmsCardBinding.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xsddoc.xsl"?>
<xs:schema xmlns="http://hspd12.hhs.gov/piv/binding/v1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://hspd12.hhs.gov/piv/binding/v1"
	xmlns:tns="http://hspd12.hhs.gov/piv/binding/v1"
	xmlns:bpd="http://hspd12.bearingpoint.com/webservice/doc"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	id="IdmsCardBinding" version="1.0.2012-10-15">


	<xs:annotation><xs:appinfo>
		<bpd:apiIntroductionDoc xmlns="http://www.w3.org/1999/xhtml">
			<br/>
			<div align="center"><div class="apiIntroductionDoc">
				<div class="apiIntroductionDoc_title">
					NotificationType Values Defined
				</div>
				Descriptive Text
				<br/><br/>
				More description 
			</div></div>
		</bpd:apiIntroductionDoc>
	</xs:appinfo></xs:annotation>


	<!-- PersonIdType: Person Identifier (PI) Defined -->
	<xs:simpleType name="PersonIdType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}"></xs:pattern>
			<xs:length value="10"></xs:length>
		</xs:restriction>
	</xs:simpleType>
	
	<!-- ResourceTagType Defined -->
	<xs:simpleType name="ResourceTagType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"></xs:minLength>
			<xs:maxLength value="20"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<!-- SiteTagType Defined -->
	<xs:simpleType name="SiteTagType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"></xs:minLength>
			<xs:maxLength value="64"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>
	
	
	<!-- FederalOrganizationCodeType Defined -->
	<xs:simpleType name="FederalOrganizationCodeType">
		<xs:restriction base="xs:string">
			<xs:length value="4"></xs:length>
		</xs:restriction>
	</xs:simpleType>

	
	<!-- FederalOrganizationTypeType Defined -->
	<xs:simpleType name="FederalOrganizationTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Department">
				<xs:annotation><xs:documentation>
					The organization is a federal department.
				</xs:documentation> </xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Agency">
				<xs:annotation><xs:documentation>
					The organization is a federal agency (OPDIV) within
					a federal department.
				</xs:documentation> </xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>


	<!-- CertificateCheckResultType Defined -->
	<xs:simpleType name="CertificateCheckResultType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CertValid">
				<xs:annotation><xs:documentation>
					The certificate was checked and found to be valid.
				</xs:documentation> </xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CertRevoked">
				<xs:annotation><xs:documentation>
					The certificate was checked and found to be revoked.
				</xs:documentation> </xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CertSuspended">
				<xs:annotation><xs:documentation>
					The certificate was checked and found to be suspended.
				</xs:documentation> </xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CertNotValid">
				<xs:annotation><xs:documentation>
					The certificate was checked and found to be invalid
					for some other reason than being suspended or revoked.
				</xs:documentation> </xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CertNotCurrentlyCheckable">
				<xs:annotation><xs:documentation>
					The certificate status could not be checked at the
					time the request was submitted.  This usually
					indicates that the OCSP responder specified in the
					certificate could not be successfully queried.
				</xs:documentation> </xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CertCheckAborted">
				<xs:annotation><xs:documentation>
					The certificate was not checked because a previous event
					caused further certificate checking to be aborted..
				</xs:documentation> </xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	

		<!-- TypedValueType Defined -->
	<xs:complexType name="TypedValueType">
		<xs:annotation>
			<xs:documentation>
				This type defines a type safe container for storing 
				several common types of data.
			</xs:documentation>
		</xs:annotation>
		<xs:choice>
		    <xs:element name="BoolVal" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Boolean Value.</xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="IntVal" type="xs:int">
				<xs:annotation>
					<xs:documentation>Integer Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateTimeVal" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date/time Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StringVal" type="xs:string">
				<xs:annotation>
					<xs:documentation>String Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DoubleVal" type="xs:double">
				<xs:annotation>
					<xs:documentation>Double Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BinaryVal" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>Binary Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	
	
	
	<!-- CardCertificateInfoType Defined -->
	<xs:complexType name="ProcessingNotificationType">
		<xs:annotation>
			<xs:documentation>
				This type conveys information about some event, warning, 
				error or other information that was generated during 
				processing and may be of use to the caller.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NotificationType" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
					    This attribute is a string which indicates the exact
					    nature of the notification.  The possible values for
					    this attribute will be defined in the element which
					    contains this complex type.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotificationText" type="xs:string" minOccurs="1" >
                <xs:annotation><xs:documentation>
                		This is a user friendly description of the notification.
                		If desired, this text may be shown to the user to 
                		convey the meaning and details of this notification.
                		Alternatively, the NotificationType attribute and 
                		the (optionally) included NotificationData attributes
                		can be used to construct a custom message describing
                		the notification.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="NotificationData" minOccurs="0" maxOccurs="unbounded" 
					type="TypedValueType">
                <xs:annotation><xs:documentation>
                		One or more of these attributes may be present if needed
                		to provide additional information about the notification.
                		The meaning of each NotificationData attribute will be
                		documented in the element that contains this notification.
                		TODO: Define possible DataType strings.
                	</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- TaggedDataType Defined -->
	<xs:complexType name="TaggedDataType">
		<xs:annotation>
			<xs:documentation>
				This type defines a tagged data type which combines a
				string indicating the data type as well as the actual 
				type safe data value.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataType" type="xs:string" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
					    This attribute is a string which indicates the exact
					    nature of the data.  The possible values for
					    this attribute will be defined in the element which
					    contains this complex type.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DataValue" type="TypedValueType" minOccurs="1">
                <xs:annotation><xs:documentation>
                		This attribute contains the actual data value.
                	</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	
	
	<!-- CardCertificateInfoType Defined -->
	<xs:complexType name="CardCertificateInfoType">
		<xs:annotation>
			<xs:documentation>
				This type defines information gathered from a 
				card certificate.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CertCheckResult"
						type="CertificateCheckResultType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    This attribute will be populated with the result 
						    of the certificate check for the certificate 
						    being reported.
						</xs:documentation>
					</xs:annotation>
			</xs:element>
			<xs:element name="CertCheckResultStr"
                        type="xs:string" minOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The string representation of the CertCheckResult field
                        </xs:documentation>
                    </xs:annotation>
            </xs:element>
			<xs:element name="CertFriendlyName" minOccurs="0" maxOccurs="1" 
                    type="xs:string">
                <xs:annotation><xs:documentation>
                        The certificate friendly name.
                    </xs:documentation></xs:annotation>
            </xs:element>
			<xs:element name="CertNotBefore" minOccurs="0" maxOccurs="1" 
					type="xs:dateTime">
                <xs:annotation><xs:documentation>
                		The date/time before which the certificate is not valid.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="CertNotAfter" minOccurs="0" maxOccurs="1" 
					type="xs:dateTime">
                <xs:annotation><xs:documentation>
                		The date/time after which the certificate is not valid.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="CertIssuerDN" minOccurs="0" maxOccurs="1" 
					type="xs:string">
                <xs:annotation><xs:documentation>
                		The certificate issuer distinguished name formatted as
                		defined in RFC 2253.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="CertSubjectDN" minOccurs="0" maxOccurs="1" 
					type="xs:string">
                <xs:annotation><xs:documentation>
                		The certificate subject distinguished name formatted as
                		defined in RFC 2253.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="CertSerialNumber" minOccurs="0" maxOccurs="1" 
					type="xs:string">
                <xs:annotation><xs:documentation>
                		The certificate serial number formatted a string
                		unsigned integer in base 16.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="AdditionalCertData" type="TaggedDataType"
					minOccurs="0" maxOccurs="unbounded">
                <xs:annotation><xs:documentation>
                		Additional certificate data.  At present, the
                		IDMS will not send any of these elements.
                	</xs:documentation></xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<!-- PivModelCardPrintedInformationType Defined -->
	<xs:complexType name="CardExtractedInformationType">
		<xs:annotation>
			<xs:documentation>
				This type defines information extracted from the 
				PIV compliant card being bound.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardType" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The detected card type.  Currently there are only
                		two possible values, "PIV" and "PIV-I".
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnAgencyCode" type="xs:unsignedShort" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The FASC-N AGENCY_CODE extracted from the card.
                		This is the federal organization code of the 
                		federal agency that issued the card.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnAgencyCodeStr" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>
                		This is a string representation of the 
                		FASC-N AGENCY_CODE extracted from the card.
                		Note that if the AGENCY_CODE can not be mapped
                		into a user friendly string, the AGENCY_CODE
                		itself will be returned.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnSystemCode" type="xs:unsignedShort" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The FASC-N SYSTEM_CODE extracted from the card.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnSystemCodeStr" type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>
                        The FASC-N SYSTEM_CODE extracted from the card as string.
                        Currently padded with zeros to the left if the size is
                        less than 4 digits.
                    </xs:documentation></xs:annotation>
            </xs:element>
			<xs:element name="FascnCredentialNumber" 
					type="xs:unsignedLong" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The FASC-N CREDENTIAL_NUMBER extracted from the card.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnCredentialNumberStr" 
                    type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>
                        The FASC-N CREDENTIAL_NUMBER extracted from the card as string.
                        Currently padded with zeros to the left if the size is
                        less than 6 digits.
                    </xs:documentation></xs:annotation>
            </xs:element>
			<xs:element name="FascnIndividualCredentialIssue" 
					type="xs:unsignedShort" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The FASC-N ICI extracted from the card.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnCredentialSeries" 
                    type="xs:unsignedShort" minOccurs="0">
                <xs:annotation><xs:documentation>
                        The FASC-N Credential Series extracted from the card.
                    </xs:documentation></xs:annotation>
            </xs:element>
			<xs:element name="FascnPersonIdentifier" 
					type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The FASC-N PI extracted from the card.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnOrganizationalCategory" 
					type="xs:unsignedShort" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The FASC-N OC extracted from the card.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnOrganizationalCategoryStr" 
					type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>
                		This is a string representation of the
                		FASC-N OC extracted from the card.
                		Note that if the OC can not be mapped
                		into a user friendly string, the OC
                		itself will be returned.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnOrganizationalIdentifier" 
					type="xs:unsignedShort" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The FASC-N OI extracted from the card.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnOrganizationalIdentifierStr" 
					type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>
                		This is the string representation of
                		the FASC-N OC and OI extracted from the card.
                		Note that if the OC and OI can not be mapped
                		into a user friendly string, the OC and OI
                		numeric values will be returned in the format 
                		"OC:OI".
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnPersonOrganizationAssociation" 
					type="xs:unsignedShort" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The FASC-N POA extracted from the card.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="FascnPersonOrganizationAssociationStr" 
					type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>
                		This is the string representation of
                		the FASC-N POA extracted from the card.
                		Note that if the POA can not be mapped
                		into a user friendly string, the POA
                		itself will be returned.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="CardExpirationDate" 
					type="xs:date" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The card expiration date extracted from the 
                		card CHUID.
                	</xs:documentation></xs:annotation>
			</xs:element>
			<xs:element name="CardExpirationDateStr" 
                    type="xs:string" minOccurs="0">
                <xs:annotation><xs:documentation>
                        The string representation of CardExpirationDate
                    </xs:documentation></xs:annotation>
            </xs:element>
			<xs:element name="CardGUID" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The card globally unique ID extracted from the 
                		card CHUID.  The data will be formatted as a 32
                		character hex encoded number.
                	</xs:documentation></xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="32"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChuidOrgIdentifier" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The organization identifier extracted from the 
                		card CHUID.  Note that this value may not be
                		present on the card.
                	</xs:documentation></xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="4"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ChuidDUNS" minOccurs="0">
                <xs:annotation><xs:documentation>
                		The organization DUNS code extracted from the 
                		card CHUID.  Note that this value may not be
                		present on the card.
                	</xs:documentation></xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="9"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	
	
	<!-- PivModelCardCapability Defined -->
	<xs:complexType name="PivModelCardCapabilityType">
		<xs:annotation>
			<xs:documentation>
				This type defines information gathered from the 
				card capability container of the PIV compliant card.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardIdentifier" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The card identifier
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:hexBinary">
						<xs:length value="21"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<!-- PivModelCardHolderUniqueIdType Defined -->
	<xs:complexType name="PivModelCardHolderUniqueIdType">
		<xs:annotation>
			<xs:documentation>
				This type defines information gathered from the 
				card holder unique identifier (CHUID) container 
				of the PIV compliant card.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fascn" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The card FASC-N
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:hexBinary">
						<xs:length value="25"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrganizationIdentifier" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The Organizational Identifier for the card
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:maxInclusive value="9999"></xs:maxInclusive>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Duns" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The DUNS code of the organization that issued the card
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:unsignedInt">
						<xs:maxInclusive value="999999999"></xs:maxInclusive>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Guid" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The globally unique ID for the card
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:hexBinary">
						<xs:length value="16"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExpirationDate" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The card expiration date
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:date"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssuerSignature" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The card issuers asymetric signature
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:base64Binary">
						<xs:minLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<!-- PivModelCardPrintedInformationType Defined -->
	<xs:complexType name="PivModelCardPrintedInformationType">
		<xs:annotation>
			<xs:documentation>
				This type defines information gathered from the 
				printed information container of the PIV compliant card.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The card holder name as printed on the card
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmployeeAffiliation" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The card holder employee affiliation as printed on the card
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmployeeAffiliation2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The card holder employee affiliation 2. This field has been
                        eliminated in the sp800-73-3 document. However, we are 
                        leaving it in the spec for reference only since there are
                        cards that contain this field.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"></xs:maxLength>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
			<xs:element name="ExpirationDate" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The card expiration date as printed on the card
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="9"></xs:length>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AgencyCardSerialNumber" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The card serial number as printed on the card
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="IssuerIdentification" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The issuer identification as printed on the card
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="15"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrgAffiliationLine1" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The organizational affiliation (line 1) 
                		as printed on the card
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OrgAffiliationLine2" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The organizational affiliation (line 2) 
                		as printed on the card
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<!-- FederalOrgInfoType Defined -->
	<xs:complexType name="FederalOrgInfoType">
		<xs:annotation>
			<xs:documentation>
				This type defines information associated with a 
				federal organizational code.  This is the 4 character
				alphanumeric code assigned to government departments, agencies
				and quasi government entities.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FederalOrganizationCode"
						type="FederalOrganizationCodeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
					    The federal organization code of the organization
					    being reported.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FederalOrganizationType"
						type="FederalOrganizationTypeType" minOccurs="1">
				<xs:annotation>
					<xs:documentation>
					    The federal organization type of the organization
					    being reported.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartmentName" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The name of the federal department associated with the 
                		organization being reported.
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DepartmentAcronym" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The acronym of the federal department associated with the 
                		organization being reported.
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AgencyName" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The name of the federal agency (OPDIV) associated with 
                		the organization being reported.
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AgencyAcronym" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                	<xs:documentation>
                		The acronym of the federal agency (OPDIV) associated 
                		with the organization being reported.
                	</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"></xs:maxLength>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CanIssueCards" minOccurs="0" maxOccurs="1"
					type="xs:boolean">
                <xs:annotation>
                	<xs:documentation>
                		If this attribute is true, then the IDMS can issue cards
                		for targeting the organization being reported.
                	</xs:documentation>
                </xs:annotation>
			</xs:element>
			<xs:element name="CanBindPivCards" minOccurs="0" maxOccurs="1"
					type="xs:boolean">
                <xs:annotation>
                	<xs:documentation>
                		If this attribute is true, then the IDMS can bind
                		PIV  cards issued by the organization being reported.
                	</xs:documentation>
                </xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<!-- BindExternalPivCardRequest Element Defined -->
	<xs:element name="BindExternalPivCardRequest">
        <xs:annotation>
        	<xs:documentation>
        		A document containing this element should be sent to the
        		IDMS to request that the IDMS bind the external PIV card
        		described by the request to the person with the specified
        		IDMS PersonId.
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="ApplicantPI" 
						type="PersonIdType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							This field should be populated with the HHS-ID of the
							person whose external card is to  be bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SubmitterPI" 
						type="PersonIdType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							This field should be populated with the HHS-ID of the
							person who is submitting the bind request.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EwsResourceTag" 
						type="ResourceTagType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							This field should be populated with the resource tag 
							of the enrollment workstation that is submitting the 
							bind request.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EwsSiteTag" 
						type="SiteTagType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							This field should be populated with the site tag of
							the site where the enrollment workstation that is 
							submitting the bind request is located.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				
				<xs:element name="CardCIN" minOccurs="0" maxOccurs="1">
	                <xs:annotation>
	                	<xs:documentation>
	                		The card Chip ID Number.  Note that this is not a PIV
	                		data model element.
	                	</xs:documentation>
	                </xs:annotation>
	                <xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:maxLength value="25"></xs:maxLength>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				
				<xs:element name="CardATR" minOccurs="0" maxOccurs="1">
	                <xs:annotation>
	                	<xs:documentation>
	                		The result of card Acknowledgment To Reset.  Note 
	                		that this is not a PIV data model element.
	                	</xs:documentation>
	                </xs:annotation>
	                <xs:simpleType>
						<xs:restriction base="xs:hexBinary">
							<xs:maxLength value="33"></xs:maxLength>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				
				<xs:element name="CardIIN" minOccurs="0" maxOccurs="1">
	                <xs:annotation>
	                	<xs:documentation>
	                		The card Issuer ID Number.  Note that this is not a PIV
	                		data model element.
	                	</xs:documentation>
	                </xs:annotation>
	                <xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"></xs:maxLength>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			
				<xs:element name="CardCapabilityContainer" 
						type="PivModelCardCapabilityType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Populated with information from the 
							Card Capability Container object on the PIV
							card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CardHolderUniqueId"
						type="PivModelCardHolderUniqueIdType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    Populated with information from the 
							Card Holder Unique Identifier object on the PIV
							card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
		        <xs:element name="CardPrintedInfo" 
		        		type="PivModelCardPrintedInformationType" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>
							Populated with information from the 
							Card Printed Information object on the PIV
							card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				
				<xs:element name="CardHolderFingerprintsCbeff" 
		        		type="xs:base64Binary" minOccurs="1" >
					<xs:annotation>
						<xs:documentation>
							Populated with the CBEFF stored in the cards 
							Cardholder Fingerprints object on the PIV
							card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CardHolderFacialImageCbeff" 
		        		type="xs:base64Binary" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>
							Populated with the CBEFF stored in the cards 
							Cardholder Facial Image object on the PIV
							card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				
				<xs:element name="PivAuthenticationCertDer"
						type="xs:base64Binary" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    Populated with the PIV Authentication Certificate
						    (DER) of the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivDigitalSignatureCertDer"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    Populated with the PIV Digital Signature Certificate
						    (DER) of the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivKeyManagementCertDer"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    Populated with the PIV Key Management Certificate
						    (DER) of the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivCardAuthenticationCertDer"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    Populated with the PIV Card Authentication Certificate
						    (DER) of the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
	</xs:element>



	<!-- SubscribeIdmsEventsResponse Element Defined -->
	<xs:element name="BindExternalPivCardResponse">
        <xs:annotation>
        	<xs:documentation>
        		In response to a "BindExternalPivCardRequest", the IDMS 
        		will send this element to the requester so that results
        		of the request can be retrieved.
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="ResultCode" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							A short code describing the results of the request.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Success">
								<xs:annotation><xs:documentation>
										The external PIV card described by the
										request has been sucessfully bound to the
										person with the given HHS-ID.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="PersonNotFound">
								<xs:annotation><xs:documentation>
										The bind failed because a person with the
										spefified HHS-ID could not be found in the IDMS.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="RejectPersonHasActivePiv">
								<xs:annotation><xs:documentation>
										The bind request is rejected because hte specified
										person currently has an active PIV card.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="RejectPersonNotProvisionedForBinding">
								<xs:annotation><xs:documentation>
										The bind request is rejected because the specified
										person has not been provisioned in the IDMS to 
										accept binding requests for external PIV cards.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="RejectBizRuleViolation">
								<xs:annotation><xs:documentation>
										The bind request is rejected because allowing
										the the binding request to proceed would cause
										a system business rule to be violated.
										The ResultDetail attribute of this response will
										provide additional detail reguarding the problem.
										The ResultDetail field will start with an enum 
										indicating the business rule violated, followed 
										by a colon and then additional detail (if any) 
										which provides more detailed info.
										The possible businness rule enum values are
										"CardAlreadyBoundAndActive", 
										"CardIssuerOrgNotFound", 
										"CardIssuerOrgReject".
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Failed">
								<xs:annotation><xs:documentation>
										An unexpected error has occurred
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ResultDetail" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If the result indicated by the ResultCode needs to convey
							additional information, this field will be populated 
							with that information in an easy to parse fromat.  Note that
							a ResultCode which uses this field will provide documentation
							on how to interpret the contents of this field.
						</xs:documentation>
					</xs:annotation></xs:element>
				<xs:element name="FailureDetailMessage" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If the ResultCode is "Failed", this field
							may contain some extra information which may
							be helpful in diagnosing the reason for the
							failure. Note that the information in this
							field is not intended to be useful to the
							average user but is intended to help
							advanced users or help desk personal debug
							the problem.
						</xs:documentation>
					</xs:annotation></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- CheckPivCardCertsRequest Element Defined -->
	<xs:element name="CheckPivCardCertsRequest">
        <xs:annotation>
        	<xs:documentation>
        		A document containing this element should be sent to the
        		IDMS to request that the IDMS check the validity of the
        		given card certificates.
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="StopOnFirstCertNotCheckable"
						type="xs:boolean" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    If true and a certificate is found to be uncheckable
						    (most likely due to an OCSP problem), then further 
						    certificate checking is aborted and all certificates which
						    were not checked will be reported as 'CertCheckAborted'
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivAuthenticationCertDer"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    Populated with the PIV Authentication Certificate
						    (DER) of the PIV card being checked.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivDigitalSignatureCertDer"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    Populated with the PIV Digital Signature Certificate
						    (DER) of the PIV card being checked.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivKeyManagementCertDer"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    Populated with the PIV Key Management Certificate
						    (DER) of the PIV card being checked.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivCardAuthenticationCertDer"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    Populated with the PIV Card Authentication Certificate
						    (DER) of the PIV card being checked.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
	</xs:element>


	<!-- CheckPivCardCertsResponse Element Defined -->
	<xs:element name="CheckPivCardCertsResponse">
        <xs:annotation>
        	<xs:documentation>
        		In response to a "CheckPivCardCertsRequest", the IDMS 
        		will send this element to the requester so that results
        		of the request can be retrieved.
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="PivAuthenticationCertResult"
						type="CertificateCheckResultType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    If the caller provided a PivAuthenticationCert,
						    this attribute will be populated with the result 
						    of PivAuthenticationCert check.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivDigitalSignatureCertResult"
						type="CertificateCheckResultType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    If the caller provided a PivDigitalSignatureCert,
						    this attribute will be populated with the result 
						    of PivDigitalSignatureCert check.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivKeyManagementCertResult"
						type="CertificateCheckResultType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    If the caller provided a PivKeyManagementCert,
						    this attribute will be populated with the result 
						    of PivKeyManagementCert check.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivCardAuthenticationCertResult"
						type="CertificateCheckResultType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    If the caller provided a PivCardAuthenticationCert,
						    this attribute will be populated with the result 
						    of PivCardAuthenticationCert check.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ResultCode" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							A short code describing the results of the request.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Success">
								<xs:annotation><xs:documentation>
										The certificate checking operation was sucessfull.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Failed">
								<xs:annotation><xs:documentation>
										An unexpected error has occurred
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ResultDetail" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If the result indicated by the ResultCode needs to convey
							additional information, this field will be populated 
							with that information in an easy to parse fromat.  Note that
							a ResultCode which uses this field will provide documentation
							on how to interpret the contents of this field.
						</xs:documentation>
					</xs:annotation></xs:element>
				<xs:element name="FailureDetailMessage" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If the ResultCode is "Failed", this field
							may contain some extra information which may
							be helpful in diagnosing the reason for the
							failure. Note that the information in this
							field is not intended to be useful to the
							average user but is intended to help
							advanced users or help desk personal debug
							the problem.
						</xs:documentation>
					</xs:annotation></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- GetFederalOrgInfoRequest Element Defined -->
	<xs:element name="GetFederalOrgInfoRequest">
        <xs:annotation>
        	<xs:documentation>
        		A document containing this element should be sent to the
        		IDMS to request information about a federally recognized
        		organization (usually a federal government department OPDIV).
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="FederalOrganizationCode"
						type="FederalOrganizationCodeType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    The federal organization code of the agency (OPDIV)
						    to be looked up.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
	</xs:element>


	<!-- GetFederalOrgInfoResponse Element Defined -->
	<xs:element name="GetFederalOrgInfoResponse">
        <xs:annotation>
        	<xs:documentation>
        		In response to a GetFederalOrgInfoRequest, the IDMS 
        		will send this element to the requester so that results
        		of the request can be retrieved.
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="FederalOrgInfo"
						type="FederalOrgInfoType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    If the "ResultCode" element is "Success", then
						    this element will be present and populatd with 
						    information about the requested federal 
						    organization code.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ResultCode" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							A short code describing the results of the request.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Success">
								<xs:annotation><xs:documentation>
										The requested information was sucessfully found and returned.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="NotFound">
								<xs:annotation><xs:documentation>
										No match was found for the given agency code search parameters
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Failed">
								<xs:annotation><xs:documentation>
										An unexpected error has occurred
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FailureDetailMessage" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If the ResultCode is "Failed", this field
							may contain some extra information which may
							be helpful in diagnosing the reason for the
							failure. Note that the information in this
							field is not intended to be useful to the
							average user but is intended to help
							advanced users or help desk personal debug
							the problem.
						</xs:documentation>
					</xs:annotation></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	
	<!-- ExtractImageAsJpegRequest Element Defined -->
	<xs:element name="ExtractImageAsJpegRequest">
        <xs:annotation>
        	<xs:documentation>
        		A document containing this element should be sent to the
        		IDMS to extract the image data from a PIV card facial image
        		CBEFF, convert the image to JPEG if it is encoded as
        		JPEG2000 and then return the JPEG image data to the caller. 
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="CardHolderFacialImageCbeff" 
		        		type="xs:base64Binary" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>
							Populated with the CBEFF stored in the cards 
							Cardholder Facial Image object on the PIV
							card.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
	</xs:element>


	<!-- ExtractImageAsJpegResponse Element Defined -->
	<xs:element name="ExtractImageAsJpegResponse">
        <xs:annotation>
        	<xs:documentation>
        		In response to a ExtractImageAsJpegRequest, the IDMS 
        		will send this element to the requester so that results
        		of the request can be retrieved.
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="JpegImageData"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    If the "ResultCode" element is "Success", then
						    this element will be present and populatd with 
						    a JPEG encoded representation of the card holder
						    facial image.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ResultCode" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							A short code describing the results of the request.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Success">
								<xs:annotation><xs:documentation>
										The facial image was sucessfully extracted and converted to JPEG.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Failed">
								<xs:annotation><xs:documentation>
										An unexpected error has occurred
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FailureDetailMessage" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If the ResultCode is "Failed", this field
							may contain some extra information which may
							be helpful in diagnosing the reason for the
							failure. Note that the information in this
							field is not intended to be useful to the
							average user but is intended to help
							advanced users or help desk personal debug
							the problem.
						</xs:documentation>
					</xs:annotation></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>





<!-- PrepareBindExternalCardRequest Element Defined -->
	<xs:element name="PrepareBindExternalCardRequest">
        <xs:annotation>
        	<xs:documentation>
        		A document containing this element should be sent to the
        		IDMS to begin the card binding process.  This method will 
        		parse the given card data containers, capture the extracted 
        		information, validate the extracted information and check
        		to insure that the relevent business are being followed.
        		The information extracted from the card along with the 
        		results of the data and business rule validation are
        		returned to the caller.
        		If this method returns SUCCESS, the bind operation may be
        		completed by calling the CommitBindExternalCardRequest.
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="WantCardHolderFacialImageJpeg" 
						type="xs:boolean" minOccurs="0" default="false">
					<xs:annotation>
						<xs:documentation>
							If this field is present and set to true and 
							a valid card holder facial image is included 
							in this request, then the card holder facial image 
							will be returned in JPEG format.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ApplicantPI" 
						type="PersonIdType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							This field should be populated with the HHS-ID of the
							person whose external card is to  be bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SubmitterPI" 
						type="PersonIdType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							This field should be populated with the HHS-ID of the
							person who is submitting the bind request.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EwsResourceTag" 
						type="ResourceTagType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							This field should be populated with the resource tag 
							of the enrollment workstation that is submitting the 
							bind request.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EwsSiteTag" 
						type="SiteTagType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							This field should be populated with the site tag of
							the site where the enrollment workstation that is 
							submitting the bind request is located.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				
				<xs:element name="CardCIN" minOccurs="0" maxOccurs="1">
	                <xs:annotation>
	                	<xs:documentation>
	                		The card Chip ID Number.  Note that this is not a PIV
	                		data model element.
	                	</xs:documentation>
	                </xs:annotation>
	                <xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="50"></xs:maxLength>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				
				<xs:element name="CardATR" minOccurs="0" maxOccurs="1">
	                <xs:annotation>
	                	<xs:documentation>
	                		The result of card Acknowledgment To Reset.  Note 
	                		that this is not a PIV data model element.
	                	</xs:documentation>
	                </xs:annotation>
	                <xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="66"></xs:maxLength>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				
				<xs:element name="CardIIN" minOccurs="0" maxOccurs="1">
	                <xs:annotation>
	                	<xs:documentation>
	                		The card Issuer ID Number.  Note that this is not a PIV
	                		data model element.
	                	</xs:documentation>
	                </xs:annotation>
	                <xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="15"></xs:maxLength>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			
				<xs:element name="CardCapabilityContainerCont" 
						type="xs:base64Binary" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Populated with the Card Capability Container 
							object on the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CardHolderUniqueIdCont"
						type="xs:base64Binary" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    Populated with the Card Holder Unique Identifier 
						    container on the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="SecurityObjectCont"
						type="xs:base64Binary" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    Populated with the Security Object container 
						    on the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DiscoveryObjectCont"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    Populated with the Discovery Object container 
						    on the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="KeyHistoryObjectCont"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    Populated with the Key History Object container 
						    on the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
		        <xs:element name="CardPrintedInfoCont" 
		        		type="xs:base64Binary" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>
							Populated with the Card Printed Information 
							container on the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				
				<xs:element name="CardHolderFingerprintsCont" 
		        		type="xs:base64Binary" minOccurs="1" >
					<xs:annotation>
						<xs:documentation>
							Populated with the Cardholder Fingerprints 
							container on the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CardHolderFacialImageCont" 
		        		type="xs:base64Binary" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>
							Populated with the Cardholder Facial Image 
							container on the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CardHolderIrisImageCont" 
		        		type="xs:base64Binary" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>
							Populated with the Cardholder Iris Image 
							container on the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivAuthenticationCertCont"
						type="xs:base64Binary" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    Populated with the PIV Authentication Certificate
						    container of the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivDigitalSignatureCertCont"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Populated with the PIV Digital Signature Certificate
						    container (if present) of the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivKeyManagementCertCont"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Populated with the PIV Key Management Certificate
						    container (if present) of the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivCardAuthenticationCertCont"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							Populated with the PIV Card Authentication Certificate
						    container (if present) of the PIV card being bound.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
	</xs:element>



	<!-- PrepareBindExternalCardResponse Element Defined -->
	<xs:element name="PrepareBindExternalCardResponse">
        <xs:annotation>
        	<xs:documentation>
        		In response to a PrepareBindExternalCardRequest, the IDMS 
        		will send this element to the requester so that results
        		of the request can be retrieved.
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="RequestId" type="xs:long" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    If the "ResultCode" element is "Success", then
						    this element will be present and populatd with 
						    the ID of the newly created/prepared 
						    BindExternalCardRequest.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RequestCommitCode" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
						    If the "ResultCode" element is "Success", then this 
						    element will be present and populatd with a request 
						    commit code.  In order to actually complete the card 
						    binding process, both the RequestId and 
						    RequestCommitCode will need to be passed when submitting 
						    the CommitBindExternalCardRequest
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CardExtractedInfo" 
		        		type="CardExtractedInformationType" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>
							Populated with information gathered from processing 
						    varuious card data containers provided in
						    the PrepareBindExternalCardRequest.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CardPrintedInfo" 
		        		type="PivModelCardPrintedInformationType" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>
							Populated with information gathered from the 
						    Card Printed Information container provided in
						    the PrepareBindExternalCardRequest.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivAuthenticationCertInfo"
						type="CardCertificateInfoType" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    Populated with information gathered from the 
						    PIV Authentication Certificate provided in
						    the PrepareBindExternalCardRequest.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivDigitalSignatureCertInfo"
						type="CardCertificateInfoType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If a PIV Digital Signature Certificate
							was provided in the PrepareBindExternalCardRequest,
							this element will be present and populated with 
							information gathered from the Certificate.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivKeyManagementCertInfo"
						type="CardCertificateInfoType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If a PIV Key Management Certificate
							was provided in the PrepareBindExternalCardRequest,
							this element will be present and populated with 
							information gathered from the Certificate.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PivCardAuthenticationCertInfo"
						type="CardCertificateInfoType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If a PIV Card Authentication Certificate
							was provided in the PrepareBindExternalCardRequest,
							this element will be present and populated with 
							information gathered from the Certificate.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CardHolderFacialImageJpeg"
						type="xs:base64Binary" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If  a valid card holder facial image was included 
							in the request and the request 
							WantCardHolderFacialImageJpeg element was set to true, 
							then this element will be present and populatd with a 
							JPEG encoded representation of the card holder
						    facial image.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ProcessingNotification" minOccurs="0" maxOccurs="unbounded"
						type="ProcessingNotificationType">
					<xs:annotation>
						<xs:documentation>
							One or more of these elements may be present to convey 
							information about checks performed, validations passed,
							or other information that may be of interest to the caller.
							TODO: Define possible NotificationType strings. 
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ShowWarningNotification" minOccurs="0" maxOccurs="1"
                        type="xs:boolean">
                    <xs:annotation>
                        <xs:documentation>
                            Flag to determine if the warning notification strings
                            should be displayed to the client or not.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
				<xs:element name="WarningNotification" minOccurs="0" maxOccurs="unbounded"
						type="ProcessingNotificationType">
					<xs:annotation>
						<xs:documentation>
							If during the process of preparing the bind request
							any warnings are generated, one or more of these 
							elements will be present to convey information about
							the warning(s).
							TODO: Define possible NotificationType strings.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ErrorNotification" minOccurs="0" maxOccurs="unbounded"
						type="ProcessingNotificationType">
					<xs:annotation>
						<xs:documentation>
							If during the process of preparing the bind request
							any errors are generated, one or more of these 
							elements will be present to convey information about
							the error(s).
							TODO: Define possible NotificationType strings.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ResultCode" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							A short code describing the results of the request.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Success">
								<xs:annotation><xs:documentation>
										The BindExternalCard request has been sucessfully created 
										and is ready to be committed.  This means that all card
										and data validation checks were passed and that all business 
										rules appear to be satisfied.  The card will not actually
										be bound until a CommitBindExternalCardRequest is
										received for the newly prepared BindExternalCard request.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ErrorDetected">
								<xs:annotation><xs:documentation>
										An error was detected while processing the BindExternalCard 
										request and therefore, the request will not be allowed to
										be committed.  This response should contain one or more 
										ErrorNotification elements describing the nature and cause
										of the error.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Failed">
								<xs:annotation><xs:documentation>
										An unexpected error has occurred
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FailureDetailMessage" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If the ResultCode is "Failed", this field
							may contain some extra information which may
							be helpful in diagnosing the reason for the
							failure. Note that the information in this
							field is not intended to be useful to the
							average user but is intended to help
							advanced users or help desk personal debug
							the problem.
						</xs:documentation>
					</xs:annotation></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


<!-- CommitBindExternalCardRequest Element Defined -->
	<xs:element name="CommitBindExternalCardRequest">
        <xs:annotation>
        	<xs:documentation>
        		A document containing this element should be sent to the
        		IDMS to commit an already prepared bind card request.
        		If this method returns SUCCESS, the bind operation will
        		be completed and the bound card will be accepted as valid
        		by the IDMS.
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="RequestId" type="xs:long" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    This element should be populated with the RequestId
						    returned in the PrepareBindExternalCardResponse.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RequestCommitCode" type="xs:string" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
						    This element should be populated with the RequestCommitCode
						    returned in the PrepareBindExternalCardResponse.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
        </xs:complexType>
	</xs:element>


	<!-- CommitBindExternalCardResponse Element Defined -->
	<xs:element name="CommitBindExternalCardResponse">
        <xs:annotation>
        	<xs:documentation>
        		In response to a CommitBindExternalCardRequest, the IDMS 
        		will send this element to the requester so that results
        		of the request can be retrieved.
        	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
			<xs:sequence>
				<xs:element name="ProcessingNotification" minOccurs="0" maxOccurs="unbounded"
						type="ProcessingNotificationType">
					<xs:annotation>
						<xs:documentation>
							One or more of these elements may be present to convey 
							information about checks performed, validations passed,
							or other information that may be of interest to the caller.
							TODO: Define possible NotificationType strings. 
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="WarningNotification" minOccurs="0" maxOccurs="unbounded"
						type="ProcessingNotificationType">
					<xs:annotation>
						<xs:documentation>
							If during the process of committing the bind request
							any warnings are generated, one or more of these 
							elements will be present to convey information about
							the warning(s).
							TODO: Define possible NotificationType strings.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ErrorNotification" minOccurs="0" maxOccurs="unbounded"
						type="ProcessingNotificationType">
					<xs:annotation>
						<xs:documentation>
							If during the process of committing the bind request
							any errors are generated, one or more of these 
							elements will be present to convey information about
							the error(s).
							TODO: Define possible NotificationType strings.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ResultCode" minOccurs="1">
					<xs:annotation>
						<xs:documentation>
							A short code describing the results of the request.
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Success">
								<xs:annotation><xs:documentation>
										The BindExternalCard request has been sucessfully created 
										and is ready to be committed.  This means that all card
										and data validation checks were passed and that all business 
										rules appear to be satisfied.  The card will not actually
										be bound until a CommitBindExternalCardRequest is
										received for the newly prepared BindExternalCard request.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="ErrorDetected">
								<xs:annotation><xs:documentation>
										An error was detected while processing the BindExternalCard 
										request and therefore, the request will not be allowed to
										be committed.  This response should contain one or more 
										ErrorNotification elements describing the nature and cause
										of the error.
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
							<xs:enumeration value="Failed">
								<xs:annotation><xs:documentation>
										An unexpected error has occurred
									</xs:documentation> </xs:annotation>
							</xs:enumeration>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="FailureDetailMessage" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							If the ResultCode is "Failed", this field
							may contain some extra information which may
							be helpful in diagnosing the reason for the
							failure. Note that the information in this
							field is not intended to be useful to the
							average user but is intended to help
							advanced users or help desk personal debug
							the problem.
						</xs:documentation>
					</xs:annotation></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
